# Python
__pycache__/
*.pyc
.venv/
venv/

# VS Code
.vscode/

# Environment / credentials
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Excel temporary files
~$*.xlsx

# Power BI temporary files
*.pbit.tmp